<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
  </head>
  <body>
    <header class="main-header">
      <input type="checkbox" id="menu">

      <nav class="nav-bar">
        <ul class="nav-bar__nav-list">
          <li class="nav-bar__nav-item">
           <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="alta.html" class="nav-bar__nav-link">Alta</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="nosotros.html" class="nav-bar__nav-link">Nosotros</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="contacto.html" class="nav-bar__nav-link">Contacto</a>
          </li>
        </ul>
      </nav> <!-- .nav-bar -->

      <div class="search-bar">
        <div class="search-bar__logo-container">
          <img class="search-bar__logokaluc" src="/img/kaluc.webp" alt="Ka-luc-logo"/>
        </div>
        <form action="#" class="search-bar__form-container">
          <label for="busqueda" class="search-bar__form-label">Tortas y Postres</label>
          <input type="search" class="search-bar__form-search" id="busqueda">
          <input type="submit" class="search-bar__form-submit" value="buscar">
        </form>
        <div class="search-bar__carrito-container"><img src="/img/car.svg" alt="Carrito-container"></div>
        <div class="menu-toogle">
          <label for="menu" class="menu-toogle__label">
            <span class="menu-toogle__top-bread"></span>
            <span class="menu-toogle__meat"></span>
            <span class="menu-toogle__bottom-bread"></span>
          </label>
        </div>
      </div> <!-- .search-bar -->
    </header>
    <!-- main -header -->

    <div class="head">
      <h1>CONTACTANOS!</h1>
      <P>En el menor tiempo posible, vamos a estar enviandote la informacion solicitada.</P>
    </div>

    <div class="Form-Container">
      <div class="Form-Container__Form-contact">
        <form>
          <div class="Form-Container__Form-contact__grupo">
            <label for="label-nombre">Nombre: * </label>
            <input
              type="text"
              name="nombre"
              id="label-nombre"
              placeholder="Ej: Roberto"
              required
            />
          </div>

          <div class="Form-Container__Form-contact__grupo">
            <label for="label-apellido">Apellido: </label>
            <input
              type="text"
              name="apellido"
              id="label-apellido"
              placeholder="Ej: Palmeiras"
            />
          </div>

          <div class="Form-Container__Form-contact__grupo">
            <label for="label-email">Correo Electrónico: * </label>
            <input
              type="email"
              name="email"
              id="label-email"
              placeholder="Ej: ka-luccreaciones@gmail.com"
              required
            />
          </div>

          <div class="Form-Container__Form-contact__grupo">
            <label for="label-numero">Número de teléfono: </label>
            <input type="tel" name="numero" id="label-numero" placeholder="Ej: 1122874777"/>
          </div>

          <div class="Form-Container__Form-contact__grupo">
            <div id="description">
              <label for="label-descripcion">¿Que te gustaria pedirnos?: * </label>
              <textarea
                name="detalles"
                id="label-descripcion"
                cols="20"
                rows="10"
                placeholder="Ingresa aca los detalles y nosotros lo resolvemos"
              ></textarea>
            </div>
          </div>

          <div class="Form-Container__Form-contact__grupo">
            <div class="campo_requerido_container">
              <p id="requiered">* Campos requeridos</p>
            </div>
            <div class="button">
              <button id="boton_form">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <footer class="footer">
      <p>Copyright Ka-Luc creaciones de azucar - 2024. Todos los derechos reservados.</p>
      <p>Defensa de las y los consumidores. Para reclamos <a href="#">ingresá acá.</a> / <a href="#">Botón de arrepentimiento</a></p>
    </footer>

    <script type="module" src="/main.js"></script>
  </body>
</html>
