.section-cards {
    background-color: #f1f2f3;
    padding: 1rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.titular {
    font-weight:bolder;
    font-size: 50px;
    margin-bottom: 2rem;
    color: #000000;
    padding-top: 1rem;
  }

.secundar{
        font-weight:bolder;
        font-size: 20px;
        margin-bottom: 1rem;
        color: #000000;
        padding-top: 0.5rem;
      }
